.calculator {
	background: #eeeeee;
	width: 450px;
	padding:10px;
}

.calculator-title {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;  
}

.row div {
  margin: 34px 0;
}

.calculator label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}

.calculator input[type="text"] {
  margin: 0;
  width: 90%;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.calculator input[type="button"]  {
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
}

.product:hover  {
  cursor: pointer;
}

.param-select {
  width: 90%;
}

.named h1 {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.material span{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
}
.material {
  margin: 0px 0px 15px 0px;
}
.material select {
  width: 100%;
  font-size: 11px;
}
.newbutt {
	width: 90%;
	background-color: #777777;
	border: none;
	height: 50px;
	border-radius: 10px;
	color: #ffffff;	
	font-size: 20px;
}

.product {
  width: 90px;
  height: 70px;
  border-radius: 10px;
}

.icon {
  width: 85px;
  height: 60px;
  border-radius: 10px;
  display: block;
  background-size: 425px 300px;
  background-repeat: no-repeat;
  background-image: url("https://www.maxima-metall.dp.ua/wp-content/themes/maximametall/img/spravochnikIcons.png");
  transition: all 0.4s ease;
}

.product.selected .icon {
  transform: scale(1.15, 1.15);
  box-shadow: 0 0 0 2px #6c6d6f;
}

.product:hover .icon {
  transform: scale(1.15, 1.15);
}

#corner .icon {
  background-position: -170px -60px;
}

#sheet .icon {
  background-position: 0 -120px;
}

#pipe .icon {
  background-position: 0 -180px;
}

#circle .icon {
  background-position: -340px 0;
}

#pipe_prof .icon {
  background-position: -255px -180px;
}

#square .icon {
  background-position: -255px 0;
}

#channel .icon {
  background-position: -85px -60px;
}

#strip .icon {
  background-position: -255px -60px;
}

#balk .icon {
  background-position: -85px 0;
}

#hexahedron .icon {
  background-position: 0 -60px;
}

select 
{        
    @extend %inline-block;
    @include gradient(#fff, #ececec, $toogler_img_url);
    @include experimental('appearance', none, webkit, moz, not o, not ms, not khtml);

    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    outline: none;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding: 6px;
    padding-right: 24px;

    &::-ms-expand { display: none; }

    text-indent: 0.01px;
    text-overflow: '';
  
    @include transition(border 0.2s ease-in);
    @include text-shadow(0 1px 0 #fff);
    @include border-radius(2px);
    @include box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4));
    cursor: pointer;
    font: normal 14px/22px Arial,sans-serif;
    border: 1px solid #ccc;
    &:hover { border-color: darken(#ccc, 20%); }
    &:focus { border-color: #0061a7; }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  color: #000;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}